* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

label {
  font-size: 12px;
  color: #333;
}

small {
  font-size: 12px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: inherit;
}

::-webkit-scrollbar {
  display: none;
}
